[user]
[alias]
  # committing stuff
  c = commit -m
  ca = commit -a
  cam = commit --amend
  cp = !git commit -p
  cap = !git commit -a && git push
  co = checkout
  cb = checkout -b

  # short-hand commands
  s = status -s --branch
  f = fetch
  p = push
  aa = add -A
  l = log --oneline --decorate --graph --all
  pop = reset HEAD~1
  log = log --oneline --decorate --graph --all
  branch = branch -vv

  # Revert the last commit
  fuck = reset HEAD~1

  # Show the amount of commits each contributor made
  score = shortlog -sn

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Leonard Schütz
	email = hello@leonardschuetz.ch
	signingkey = 83F6E8E0A5A0CC97
[push]
	default = simple
[color]
	ui = auto
[github]
	user = KCreate
[core]
	editor = nvim
	pager = delta --line-numbers --dark --diff-so-fancy
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
