[user]
[alias]
  # committing stuff
  c = commit -m
  ca = commit -a
  cam = commit --amend
  cp = !git commit -p
  cap = !git commit -a && git push
  co = checkout
  cb = checkout -b

  # short-hand commands
  s = status -s --branch
  f = fetch
  p = push
  aa = add -A
  l = log --oneline --decorate --graph --all
  pop = reset HEAD~1
  log = log --oneline --decorate --graph --all
  branch = branch -vv

  # Revert the last commit
  fuck = reset HEAD~1

  # Show the amount of commits each contributor made
  score = shortlog -sn

[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Leonard Schütz
	email = leni.schuetz@me.com
	signingkey = 5389F765544C1554BA8DC52CCA691B8ADC64635A
[push]
	default = simple
[color]
	ui = auto
[github]
	user = KCreate
[core]
	editor = nvim
[init]
	defaultBranch = main
